<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CSS盒模型的理解</title>
    <link rel="stylesheet" type="text/css" href="demo.css">
    <style type="text/css">

    </style>
</head>
<body>

    <div class="demo-pane" id="demo1">
        <div class="title">
            Demo1:&nbsp;display的默认初始值
        </div>
        <div class="demo-con">
            <div class="region">
                <div style="width:400px; background-color: silver; margin-top:50px; border:1px solid;">
                    <p style="margin-top:-50px; height:100px; border: solid 1px blue;">
                        A paragragh.
                    </p>
                    <div style="padding:0; margin:0">
                        Another p.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>